$background: #121214;
$black1: #17171A;
$black2: #09090A;
$black3: #202024;
$black4: #1b1b1f;
$black5: #29292e;
$fontColor: #e1e1e6;
$gray2: #C4C4CC;
$gray3: #8d8d99;
$yellow: #FFCD1E;
$pink: #FF008E;
